<h1> All Pets on the Application </h1>
<% @pets.each do |pet| %>
  <%= pet.name %>
  <% if !pet.adoptable? %>
    <p> Approved </p>
  <% else %>
    <%= button_to "Approve", "/admin/pets/#{pet.id}/approve?application_id=#{@application.id}", method: :post %>
  <% end %>
<% end %>

